# Always use LF line endings (Linux/Mac/Server compatible)
* text=auto eol=lf
*.py   text eol=lf
*.js   text eol=lf
*.html text eol=lf
*.css  text eol=lf
*.toml text eol=lf
*.txt  text eol=lf
*.md   text eol=lf
